body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 231, 231, 0.144);
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    align-items: center;
    height: 60px;
}

.logo p{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.logof p{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.close {
    visibility: hidden;
}
#icon.switch .close{
    visibility: visible;
}
#icon.switch .open{
    visibility: hidden;
}

.menu ul{
    display:flex;
    justify-content: space-between;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.menu a:hover{
    font-weight: 600;
    color: rgb(196, 20, 20);
}

.menu li{
    list-style: none;
    padding-left: 15px;
}

.search{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input{
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.social li{
    list-style: none;
}

.social a{
    font-weight: 500;
}

.social a:hover{
    font-weight: 700;
    color: rgb(196, 20, 20);
}

.butt{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: white;
}

.butt:hover{
    transition: ease-in-out .5s;
    color: white;
}

.box{
    border-radius: 10px;
    text-align: center;
}

.box:hover{
    scale: 1.1;
    transition: ease-in-out .5s;
    background-color: white;
}

.box:hover p{
    transition: ease-in-out .5s;
    color: black;
}

.hero{
    background-image: url(https://images.unsplash.com/photo-1669148935174-66f9bb9a3956?q=80&w=913&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container:hover{
    scale: 1.05;
    transition: ease-in-out .5s;
}

.register{
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: ease-in-out 0.5s;
}

.register:hover{
    background-color: white;
    color: black;
}

